# Rust
target
config.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock

# Environment variables
.envrc
.direnv/
.env
.tilt.env
config.env

# IDE
.idea/
*.swp
*.swo
*~
.cursor/

# Jupyter Notebooks
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# Streamlit
.streamlit/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3
local.session.sql

# Temporary files
*.tmp
*.temp
tmp/

# JS
node_modules/
.turbo/
next-env.d.ts
tsconfig.tsbuildinfo

.next

# Ralph config (may contain API key)
.cursor/ralph-config.json

# TSC-specific build files
*.tsbuildinfo

# Non-bun JS package manager lockfiles/config

# npm
package-lock.json
npm-shrinkwrap.json
.npmrc

# pnpm
pnpm-lock.yaml
pnpm-lock.yml
pnpm-workspace.yaml
pnpm-workspace.yml
.pnpmrc
.pnpmfile.cjs
.pnpmfile.js

# yarn
yarn.lock
.yarnrc
.yarnrc.yml
.yarn/
